{% extends "base/base_min.html" %}
{% load static %}
{% load my_filters %}
{% load humanize %}
{% block title %}News & Updates | {{ SITE_NAME }}{% endblock %}
{% block content %}
    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <span class="badge rounded-pill bg-secondary">News & Updates</span>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h1>News & Updates</h1>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <table class="table">
                {% for update in last_updates %}
                <tr>
                    <th width="10%" scope="row">{{ update.date }}</th>
                    <td>
                        <p class="h6">{{ update.title }}</p>
                        <p>{{ update.description|safe }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
