{% extends "base/wide.html" %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-4">
        <h1>Bundle Downloads</h1>
        <p class="alert alert-info">Prepared downloads will be available shortly. Raw data will be made available on <a href="https://github.com/baryshnikova-lab/yeastphenome-data/tree/master/Datasets/" target="_blank" class="external inactive" onclick="return false;" disabled>GitHub (coming soon!)</a></p>
   </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
