{% extends "base/wide.html" %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-4">
        <h1>Download Cart</h1>
        {% include "datasets/data_warning.html"%}
        {% if datasets %}
	<form action="{% url 'datasets:download_dataset_scores' %}" method="GET" class="card-body">
                  {% include "datasets/datasets_server_render_table.html" %}
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Download</button>
        </form>
        {% else %}
          <p class="alert alert-warning">You have no datasets to download. Why don't you <a href="{% url 'datasets:index' %}">browse to add some?</a></p>
        {% endif %}
    </div>
     <div class="col-md-4 mb-4">

    <div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Download Metrics</span>
    </h4>

    <ul class="list-group mb-3 z-depth-1">
    <li class="list-group-item d-flex justify-content-between">
        <span>Total Datasets</span>
        <strong>{{ datasets | length }}</strong>
    </li>
    </ul>
    <a href="{% url 'common:clear_cart' %}"><button class="btn btn-danger btn-lg">Clear Downloads</button></a>

    </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 10,"language": {"search": "Filter:"}, "processing": true, "serverSide": true, "ajax": "{% url 'api:cart_datasets' %}", "lengthMenu": [[10,15,20,25], [10,15,20,25]],
    "drawCallback": function( settings ) {
       add_to_cart()
       remove_from_cart()
    }});
});

$("form").submit(function( event ) {

  console.log("Form submit for dataset download")
  var url = "#";

  fetch(url).then(res => res.json())
  .then(function(response) {
    var response = JSON.stringify(response) 
    console.log('Success:', response)

    // On an error (order already submit, wrong user) don't send form
    if (response['message'] == "error"){
       event.preventDefault();
    }
  })
  .catch(function(response) {
     var response = JSON.stringify(response);
     console.log("Error", response)
     event.preventDefault();
  })
});
</script>
{% endblock %}
