{% extends "base/base_min.html" %}
{% load humanize %}
{% block content %}

    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h1>Downloads</h1>
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h2 class="mt-5 mb-4" id="about">Haploid/homozygous diploid data</h2>

            <div class="card">
                <div class="card-header">
                    yp_hom_20221025.tar.gz
                </div>
                <div class="card-body">
                    <p>Format: tab-delimited</p>
                    <p>Contains:
                        <ol>
                            <li>A README file</li>
                            <li>A list of 14,495 haploid/homozygous diploid screens with relevant metadata</li>
                            <li>A gene x screen matrix (4,554 x 14,495) of harmonized but not normalized phenotypic values</li>
                            <li>A gene x screen matrix (4,554 x 14,495) of harmonized and normalized phenotypic values (NPVs)</li>
                        </ol>
                    </p>
                    <a href="#"
                       class="btn btn-primary disabled">Download (coming soon)</a>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h2 class="mt-5 mb-4" id="about">Heterozygous diploid data</h2>

            <div class="card">
                <div class="card-header">
                    yp_het_20221018.tar.gz
                </div>
                <div class="card-body">
                    <p>Format: tab-delimited</p>
                    <p>Contains:
                        <ol>
                            <li>A README file</li>
                            <li>A list of 7,011 heterozygous diploid screens with relevant metadata</li>
                            <li>A gene x screen matrix (5,639 x 7,011) of harmonized but unnormalized phenotypic values</li>
                            <li>A gene x screen matrix (5,639 x 7,011) of harmonized and normalized phenotypic values (NPVs)</li>
                        </ol>
                    </p>

                    <a href="#"
                       class="btn btn-primary disabled">Download (coming soon)</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
