.navbar,
.navbar-default,
.navbar-inverse {
  border: none;
  margin-block-end: 0; }
.navbar .navbar-brand,
.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand {
  padding: 0; }
.navbar .navbar-brand #navbar_logo,
.navbar-default .navbar-brand #navbar_logo,
.navbar-inverse .navbar-brand #navbar_logo {
  height: 50px; }
.navbar .navbar-nav .link-moved,
.navbar-default .navbar-nav .link-moved,
.navbar-inverse .navbar-nav .link-moved {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143; }
@media screen and (max-width: 768px) {
  .navbar .navbar-nav .link-moved,
  .navbar-default .navbar-nav .link-moved,
  .navbar-inverse .navbar-nav .link-moved {
    padding-inline-start: 25px; } }
.navbar .navbar-nav .link-moved .alpha-tag,
.navbar-default .navbar-nav .link-moved .alpha-tag,
.navbar-inverse .navbar-nav .link-moved .alpha-tag {
  text-transform: none; }
.navbar .navbar-nav .toolbar-search,
.navbar-default .navbar-nav .toolbar-search,
.navbar-inverse .navbar-nav .toolbar-search {
  padding-inline-start: 15px;
  padding-inline-end: 15px; }
.navbar .navbar-nav .alpha-tag,
.navbar-default .navbar-nav .alpha-tag,
.navbar-inverse .navbar-nav .alpha-tag {
  color: red;
  font-size: 8pt;
  text-transform: uppercase; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav > li:not(#global_search_navbar) > a,
  .navbar-default .navbar-nav > li:not(#global_search_navbar) > a,
  .navbar-inverse .navbar-nav > li:not(#global_search_navbar) > a {
    padding-inline-start: 5px;
    padding-inline-end: 5px; } }

@media screen and (min-width: 768px) {
  .navbar .navbar-nav .toolbar-search,
  .navbar-default .navbar-nav .toolbar-search,
  .navbar-inverse .navbar-nav .toolbar-search {
    width: 160px;
    padding-block-start: 7.5px;
    padding-inline-start: 5px;
    padding-inline-end: 5px; } }

@media screen and (min-width: 992px) {
  .navbar .navbar-nav .toolbar-search,
  .navbar-default .navbar-nav .toolbar-search,
  .navbar-inverse .navbar-nav .toolbar-search {
    width: 297px; } }

@media screen and (min-width: 1201px) {
  .navbar .navbar-nav .toolbar-search,
  .navbar-default .navbar-nav .toolbar-search,
  .navbar-inverse .navbar-nav .toolbar-search {
    width: 330px; } }

.navbar,
.navbar-inverse {
  background: #7FB3D5; }
.navbar .navbar-tofggle,
.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.5); }
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background: #2471A3; }
@media screen and (max-width: 768px) {
  .navbar .navbar-nav .open .dropdown-menu .divider,
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background: #1c2947; }
  .navbar .navbar-nav .open .dropdown-menu > li > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #d3daeb; } }
.navbar .navbar-nav > li:not(#global_search_navbar).open > a, .navbar .navbar-nav > li:not(#global_search_navbar):hover > a, .navbar .navbar-nav > li:not(#global_search_navbar):active > a, .navbar .navbar-nav > li:not(#global_search_navbar):focus > a,
.navbar-inverse .navbar-nav > li:not(#global_search_navbar).open > a,
.navbar-inverse .navbar-nav > li:not(#global_search_navbar):hover > a,
.navbar-inverse .navbar-nav > li:not(#global_search_navbar):active > a,
.navbar-inverse .navbar-nav > li:not(#global_search_navbar):focus > a {
  background: #2471A3; }
.navbar .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: 600;}



