html,
body {
    height: 100%
}

th.dt-center, td.dt-center { 
   text-align: left !important;
   vertical-align: middle !important;
}

#wrap {
    min-height: 100%
}

#main {
    overflow: auto;
    padding-bottom: 120px
}

.footer {
    position: relative;
    margin-top: -120px;
    clear: both
}

.inactive {
  cursor: not-allowed;
  opacity: 0.5;
}
.inactive > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

html {
    position: relative;
    overflow-y: auto;
    min-height: 100%
}

section {
    overflow: auto
}

textarea {
    resize: vertical
}

body {
    padding-top: 48px;
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal
}

a {
  text-decoration: underline !important;
}

h1 {
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 6px;
}

h3 {
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 6px
}

h4 {
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25
}

h5 {
    font-family: Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 4px
}

h6 {
    font-family: "Helvetica Neue", Verdana, Arial, Helvetica, Geneva, sans-serif";
    font-size: 11px;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 6px;
    margin-top: 6px
}

.inline-block {
    display: inline-block
}

.cursor-pointer {
    cursor: pointer
}

.right .tooltip-inner {
    text-align: left
}

.scroll-x-wrapper {
    overflow-x: auto;
    clear: both
}

.hr_headliner {
    display: block;
    margin: .5em 0 .5em 0;
    border-width: 1px;
    border-color: #393939
}

.hr_announcement {
    display: block;
    border-width: 1px;
    border-color: #393939
}

.hr_list {
    margin-top: .5em;
    margin-bottom: .5em
}

.my_sets {
    border-style: solid;
    border-color: #979797;
    border-width: 1pt
}

.inline-block {
    display: inline-block
}

.no_padding {
    padding: 0 0 0 0
}

.no_margin {
    margin: 0 0 0 0
}

.image_width_50 {
    width: 50%
}

.image_width_60 {
    width: 60%
}

.image_width_70 {
    width: 70%
}

.image_width_80 {
    width: 80%
}

.image_width_90 {
    width: 90%
}

.image_width_100 {
    width: 100%
}

.logo_squares {
    background-color: white;
    margin: 10px;
    padding: 16px;
    box-shadow: 1px 1px 5px gray;
    display: inline-block
}

.mockup {
    border-style: solid;
    border-color: red;
    border-width: 1px
}

.center_center {
    display: flex;
    justify-content: center;
    align-items: center
}

ul {
    list-style: circle;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 1.2em;
    text-indent: 0
}

.btn-download {
   text-decoration: none !important;
   width: 120px;
}

body.modal-open {
    overflow: visible
}

.BaseTable__header-cell--sorting .BaseTable__sort-indicator,
.BaseTable__header-cell--sorting:hover .BaseTable__sort-indicator {
    display: none !important
}

.BaseTable__header-cell--sortable:not(.BaseTable__header-cell--sorting):hover .BaseTable__sort-indicator {
    display: none !important
}

@media(min-width:1000px) {
    .modal-box-plot {
        width: 1100px
    }
}

.display_none {
    display: none
}

.global-select-checkbox:before {
    content: " ";
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 1.7em;
    left: .9em;
    width: 12px;
    height: 12px;
    box-sizing: border-box
}

.global-select-checkbox-selected:after {
    content: "\2714";
    width: 12px;
    height: 12px;
    left: 1em;
    top: 1.3em;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white
}

.dataTables_scrollBody .global-select-checkbox:before {
    border: none
}

.dataTables_scrollBody .global-select-checkbox-selected:after {
    text-shadow: none;
    content: ""
}
