libChEBIpy==1.0.8
numpy==1.19.0
PubChemPy==1.0.4
tqdm==4.11.2
Django==3.0.8
Bio
django-ratelimit==3.0.0
django-extensions==3.0.2
sendgrid==6.4.3
biopython==1.78
pyflakes==2.3.1
black
# just for postgres
psycopg2-binary==2.8.5
djangorestframework==3.11.1
markdown==3.2.2
django-filter==2.3.0
drf-yasg==1.17.1
pandas==1.1.1
scipy==1.6.3
elastic-enterprise-search==7.13.0
plotly==4.14.3


