<div class="alert alert-warning mt-4 mb-4" role="alert">
    These data may contain errors.
    <a data-bs-toggle="collapse" href="#collapseParagraph" aria-expanded="false" aria-controls="collapseParagraph">
        Details...
    </a>
    <div class="collapse" id="collapseParagraph">
        The Yeast Phenome data library has not been officially released yet. Data are still being refined and updated. If you decide to use the data, please keep in mind that they may contain errors and may change in the future.
    </div>

</div>