<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5 mb-4">Conditions</h2>

        {% include "search/pagination.html" %}

        <table class="table my-4">
            <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 15%">Other names</th>
                <th style="width: 15%">Doses</th>
                <th style="width: 20%">Phenotypes</th>
                <th style="width: 20%">Papers</th>
                <th>Tags</th>
            </tr>
            {% for condition in conditions_results %}
                <tr>
                    <td><a href="{% url 'conditions:detail' condition.id  %}">{{ condition.name }}</a></td>
                    <td>{{ condition.aliases_list_as_str }}</td>
                    <td>{{ condition.doses_list_as_str|truncatewords:10 }}</td>
                    <td>{{ condition.observables_list_as_str|truncatewords:10 }}</td>
                    <td>{{ condition.papers_list_as_str|truncatewords:10 }}</td>
                    <td>{{ condition.tags_list_as_str }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center; padding: 30px">No results match search criteria.</td>
                </tr>
            {% endfor %}
        </table>

    {% include "search/pagination.html" %}

    </div>
</div>