{% load my_filters %}
<div class="row">
    <div class="col-md-12">
    <table id="papersTable" class="tablesorter table table-striped" width="100%">
        <thead id="papersTableHead">
        <tr>
            <th width="25%">Name</th>
            <th width="25%">Doses</th>
            <th width="25%">Phenotypes</th>
            <th width="25%">Papers</th>
            <th width="25%">Tags</th>
        </tr>
        </thead>
        <tbody id="papersTableBody">
        {% for qs in queryset %}<tr>
            <td>{{ qs.link_detail|safe }}</td>
            <td>{% for condition in qs.conditions %}{{ condition.dose }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
            <td>{{ qs.phenotypes|join_and_more:7 }}</td>
            <td>{{ qs.papers|join_and_more:7 }}</td>
            <td>{% for tag in qs.tags.all %}{{ tag.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
        </tr>{% endfor %}
        </tbody>
    </table>
	</div>
    </div>
</div>
