{% extends "base/wide.html" %}
{% block title %}{{ object|capfirst }} / Experimental conditions / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{ object }}</h1>

        <table class="table">
            {% if object.common_name %}<tr>
                <th width="20%" scope="row">Common name:</th>
                <td>
                    {{ object.common_name }}
                </td>
            </tr>{% endif %}
            <tr>
                <th width="20%" scope="row">Conditions:</th>
                <td>{% for condition in object.conditions.all %}
                       <a href="/conditions/{{ condition.type.id }}/">{{ condition.type.name }}</a> [{{ condition.dose }}]{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                </td>
            </tr>

            {% if object.description %}<tr>
                <th width="20%" scope="row">Description</th>
                <td>{{ object.description }}</td>
            </tr>{% endif %}
        </table>
        {% include "datasets/datasets_table.html" with do_add="true" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 10, "language": {"search": "Filter:"},
    "columnDefs": [
        {"className": "dt-center", "targets": "_all"}
    ]
    });
});
</script>
{% endblock %}
