{% load my_filters %}
<div class="row">
    <div class="col-md-12">
    <table id="papersTable" class="tablesorter table table-striped" width="100%">
        <thead id="papersTableHead">
        <tr>
            <th width="25%">Name</th>
            <th width="25%">Doses</th>
            <th width="25%">Phenotypes</th>
            <th width="25%">Papers</th>
            <th width="25%">Tags</th>
        </tr>
        </thead>
        <tbody id="papersTableBody">
        {% for qs in queryset %}<tr>
            <td>{{ qs.link_detail|safe }}</td>
            <td>{{ condition.doses_str_list }}</td>
            <td>{{ condition.observables_list_str }}</td>
            <td>{{ qs.papers|join_and_more:7 }}</td>
            <td>{{ condition.tags_list_str }}</td>
        </tr>{% endfor %}
        </tbody>
    </table>
	</div>
    </div>
</div>
