{% load my_filters %}
<div class="row">
    <div class="col-md-12">
    {% if queryset %}<table id="papersTable" class="tablesorter table table-striped" width="100%">
        <thead id="papersTableHead">
        <tr>
            <th width="25%">Name</th>
            <th width="25%">Doses</th>
            <th width="25%">Phenotypes</th>
            <th width="25%">Papers</th>
            <th width="25%">Tags</th>
        </tr>
        </thead>
        <tbody id="papersTableBody">
        {% for qs in queryset %}<tr>
            <td>{{ qs.link_detail|safe }}</td>
            <td>{% for condition in qs.conditions %}{{ condition.dose }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
            <td>{{ qs.phenotypes|join_and_more:7 }}</td>
            <td>{{ qs.papers|join_and_more:7 }}</td>
            <td>{% for tag in qs.tags.all %}{{ tag.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
        </tr>{% endfor %}
        </tbody>
    </table>
	<div class="pagination">
	    <div class="step-links">
		{% if queryset.has_previous %}
		    <a href="?page=1">&laquo; first</a>
		    <a href="?page={{ queryset.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current" style="margin-right:30px; margin-left:30px">
		    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
		</span>

		{% if queryset.has_next %}<span style="float:right">
		    <a href="?page={{ queryset.next_page_number }}">next</a>
		    <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
		</span>{% endif %}
	    </div>
	</div>{% endif %}
    </div>
</div>
