{% extends "base/wide.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<link rel='stylesheet' href='https://unpkg.com/@yaireo/tagify/dist/tagify.css'>

<style>

.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; }

.customSuggestionsList > div{
  max-height: 300px;
  border: 2px solid pink;
  overflow: auto;
}
.tagify {
  width: 100%;
  max-width: 700px;
}

.tagify__tag, .tagify__input {
  font-size: 14px;
}

.pen-intro{
}

input{
  order: 5;
}

label[for='checkbox-tagify-show-input']{
  position: absolute;
  top: .85em;
  left: 2.5em;

}

label[for='checkbox-tagify-show-input'] + input{
  position: absolute;
  top: 1em;
  left: 1em;
  transform: scale(1.4);
}

label[for='checkbox-tagify-show-input'] + input:checked ~ input,
label[for='checkbox-tagify-show-input'] + input:checked ~ textarea{
  display: block !important;
  width: 100%;
  max-width: 700px;
  margin-top: 1.5em;
}

label[for='checkbox-tagify-show-input'] + input:checked ~ textaragifyea{
    min-height: 11ch;
}
</style>
        <div class="row">
            <div class="col-md-10 public-homepage-side-panel">
                <h1>Conditions</h1>
                <div>
                  <input name='tags' value="">
                </div>
            </div>
            <div class="col-md-2">
                <h1></h1>
                <a href="{% url 'conditions:browse' %}"><button class="btn btn-default" type="button">Browse</button></a>
                <a href="{% url 'conditions:tags' %}"><button class="btn btn-default" type="button">Tags</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top:20px">
                <form id="searchform" style="display:none">
                {% csrf_token %}
               <input type="text" name="q" class="form-control" placeholder="Search: e.g., hydroxyurea, growth, temperature" required="" id="id_q">
                </form>
            </div>
        </div>
        {% if taglist %}<div class="row">
            <div class="col-md-12" id="message" style="padding-bottom:5px; display:none">
                  <div id="no-results" class="alert alert-info">There were no relevant results for your search.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="results" style="padding-bottom:30px" id="the-table">
                  {% include "conditions/conditions_table.html" %}
            </div>
        </div>{% endif %}

    </div>
</div></div>
{% endblock %}
{% block scripts %}

<script src="{% static 'js/tagify-3.17.7.min.js' %}"></script>
<script>

var tags = {{ tags | safe }}
console.log(tags)

var input = document.querySelector('input[name=tags]'),
    tagify = new Tagify(input, {
        pattern: /^.{0,200}$/,  // Validate typed tag(s) by Regex. Here maximum chars length is defined as "20"
        delimiters: null,      // add new tags when these characters are used
        keepInvalidTags: false, // dont keep invalid tags
        editTags: 1,            // single click to edit a tag
        maxTags: 6,
        blacklist: [],          // words to blacklist?
        whitelist: tags,
        transformTag: transformTag,
        // backspace: "edit",
        placeholder: "Search: e.g., hydroxyurea, growth, temperature",
        dropdown : {
            enabled: 1,            // show suggestion after 1 typed character
            fuzzySearch: true,    // match only suggestions that starts with the typed characters
            position: 'text',      // position suggestions list next to typed text
            caseSensitive: false,   // allow adding duplicate items if their case is different
        },
        templates: {
            dropdownItemNoMatch: function(data) {
                return `<div class='${this.settings.classNames.dropdownItem}' tabindex="0" role="option">
                    No suggestion found for: <strong>${data.value}</strong>
                </div>`
            },
            tag : function(tagData){
               try {
                    return `<tag title='${tagData.value}' contenteditable='false' spellcheck="false" class='tagify__tag ${tagData.class ? tagData.class : ""}' ${this.getAttributes(tagData)}>
                        <x title='remove tag' class='tagify__tag__removeBtn'></x>
                        <div style="font-size:14px">
                            <span class='tagify__tag-text'>${tagData.value}</span>
                        </div>
                    </tag>`
               }
               catch(err){}
            },
            dropdownItem : function(tagData){
                try {
                    return `<div style="font-size:14px" class='tagify__dropdown__item ${tagData.class ? tagData.class : ""}' tagifySuggestionIdx="${tagData.tagifySuggestionIdx}">
                            <span>${tagData.value}</span>
                        </div>`
                }
                catch(err){}
              }
            }
        })

// generate a random color (in HSL format)
function getRandomColor(){
    function rand(min, max) {
        return min + Math.random() * (max - min);
    }

    var h = rand(1, 360)|0,
        s = rand(40, 70)|0,
        l = rand(65, 72)|0;

    return 'hsl(' + h + ',' + s + '%,' + l + '%)';
}

function transformTag(tagData){

    // If the term doesn't have an icon, it's a custom query
    if (!("icon" in tagData)) {
        tagData["icon"] = ""
        tagData["code"] = ""
        tagData.style = "--tag-bg:" + "white";
    } else {
        tagData.style = "--tag-bg:" + getRandomColor();
    }
}


tagify.on('remove', function(e){
    update_placeholder()
    doTagsSearch();
});

// Gets tags from url and add to box
// Important - this must be called before we define the add listener, otherwise infinite loop

function add_tags_by_key(key) {
    var querytags = []

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    string = urlParams.get(key);

    if (string != undefined) {
        $.each(string.split('|'), function(i, e) {
            querytags.push({"value": e,  "code": key})
        })
    }
    tagify.addTags(querytags)
}
add_tags_by_key("tags")
add_tags_by_key("pubchem_name")
add_tags_by_key("other_name")
add_tags_by_key("chebi_name")
add_tags_by_key("name")
add_tags_by_key("query")
add_tags_by_key("medium")
add_tags_by_key("q")

update_placeholder = function() {

    // Remove placeholder if there are tags, otherwise reset
    if ($('[name=tags]').val() == ""){
        $(".tagify__input").attr("data-placeholder", "Search: e.g., hydroxyurea, growth, temperature");

        // Remove the message of no results
        $("#no-results").remove()
    } else {
        $(".tagify__input").attr("data-placeholder", "");
    }
}

update_placeholder()

// After getting all from url, then define callback
tagify.on('add', function(e){
    update_placeholder()
    doTagsSearch();
});


$('input[name=tags]').bind("keypress", {}, keypressSearch);

function keypressSearch(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) { //Enter keycode                
        e.preventDefault();
        doTagsSearch();
    }
};


// Function to retrieve attributes and do search
function doTagsSearch() {

   $("#fade").show();
   var promise = new Promise(function(resolve, reject) {
        var tags = $('[name=tags]').val();
        return resolve({"tags": tags});
            
   }).then(function(query){

       // Don't run the search if we don't have tags or a query
       if (query.tags.length == 0) {
           $("#fade").hide();
           $("#papersTable_wrapper").hide();
           return
       }

       // Keep list of tags
       tags = Object()
       if (query.tags.length > 0) {
           $.each(JSON.parse(query.tags), function(i, e){          
              console.log(e)
              if (!(e['code'] in tags)) {
                  tags[e['code']] = e['value']
              } else {
                  tags[e['code']] += "|" + e['value']  
              }
           })
       }

       // Add the query anyway (even if empty) as the first argument
       url = "{{ DOMAIN }}/conditions/"
       count = 0       
       $.each(tags, function(i, e){          
           if (i == "") {
               i = "query"
           }
           if (count == 0){
               url = url + "?" + i + "=" + e 
           } else {
               url = url + "&" + i + "=" + e 
           }
           count+=1
       })
       document.location = url
   })   

}
$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 10,"language": {"search": "Filter:"}, "processing": true, "serverSide": true, "ajax": "{% url 'api:conditions_query' %}{% for tag in taglist %}{% if forloop.first %}?{% else %}&{% endif %}{{ tag.code }}={{ tag.value }}{% endfor %}", "lengthMenu": [[10,15,20,25], [10,15,20,25]],
    "drawCallback": function( settings ) {
       if (settings.aoData.length == 0){
          console.log("NO DATA")
          $("#message").show();
          $("#papersTable_wrapper").hide();
       } else {
          console.log("DATA")
          $("#message").hide();
          $("#papersTable_wrapper").show();
       }
    }
  });
});
</script>
{% endblock %}
