{% extends "base/wide.html" %}
{% load static %}
{% block title %}{{ class_name|capfirst }} / Datasets / {{ SITE_NAME }}{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ tag.name }} -- Condition Types</h1>
            {% if tag.description %}<p>Description: {{ tag.description }}</p>{% endif %}
	    <table style="padding-top:20px" id="papersTable" class="table table-condensed table-hover" width="100%">
		<thead><tr>
		    <th>Name</th>
		    <th>Other Names</th>
		    <th>Datasets</th>
                </tr>
		</thead>
	    </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 25,"language": {"search": "Filter:"}, "processing": true, "serverSide": true, "ajax": "{% url 'api:tag_condition_types' tag.id %}", "lengthMenu": [[10,15,20,25], [10,15,20,25]]});
});
</script>
{% endblock %}
