{% extends "base/wide.html" %}
{% load static %}
{% block title %}{{ class_name|capfirst }} / Datasets / {{ SITE_NAME }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>Condition Tags</h1>
            <table style="padding-top:20px" id="papersTable" class="table table-condensed table-hover" width="100%">
		<thead><tr>
		    <th>Name</th>
		    <th>Conditions</th>
                </tr>
		</thead>
		<tbody id="papersTableBody">
		{% for tag in tags %}<tr>
		    <td><a href="/conditions/?tags={{ tag.name }}">{{ tag.name }}</a></td>
		    <td>{{ tag.conditiontype_set.count }}</td>
          	</tr>{% endfor %}
		</tbody>
	    </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
  $("#papersTable").DataTable({"pageLength": 10,  
        "language": {"search": "Filter:"} 
  });
  $('#papersTable').DataTable().order([1, 'desc']).draw();
});
</script>
{% endblock %}
