{% extends "base/wide.html" %}
{% load humanize %}
{% block content %}
        <div class="row">
            <div class="col-md-6">
                <h1>About</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box" style="height:200px">
                    <p><a class="box-title" href="{% url 'common:project' %}">About the Project</a></p>
                    <p>Learn more about the Yeast Phenome project, including:
                      <ul>
                       <li>Where does the data come from?</li>
                       <li>Frequently Asked Questions</li>
                       <li>What are criteria for inclusion?</li>
                      </ul>
                     Along with other details about the project itself.
                </p>
                </div>
                <hr>
                <div class="box" style="height:200px">
                    <p><a class="box-title" href="{% url 'common:data_contributors' %}">Data Contributors</a></p>
                    <p>Yeast Phenome would not be possible without the collaborative effort of over 100 <a class="box-title" href="{% url 'common:data_contributors' %}">data contributors</a>.
                    Here you can search based on publication, or data testing status, and also find contact information for each contributor.</p>
                </div>

            </div>
            <div class="col-md-6">

                <div class="box" style="height:200px">
                    <p><a class="box-title" href="{% url 'common:contributors' %}">Authors</a></p>
                    <p>The Yeast Phenome project is a collaborative effort between multiple data curators, scientists, and developers. Read more in the <a href="{% url 'common:contributors' %}">authors</a> section.</p>
                </div>

                <hr>
                <div class="box" style="height:200px">
                    <p><a class="box-title" href="{% url 'common:stats' %}">Stats</a></p>
                    <p>How many papers, datasets, or phenotypes can you find here? What are the breakdowns of conditions, phenotypes, or datasets based by papers? How have paper contributions grown over time? You can find answers to these questions, along with useful tables in the <a href="{% url 'common:stats' %}">Stats</a> section.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="box" style="height:200px">
                    <p><a class="box-title" href="{% url 'common:faq' %}">Frequently Asked Questions</a></p>
                    <p>We've assembled a small set of <a class="box-title" href="{% url 'common:faq' %}">frequently asked questions</a>
                    about data, citation policy, and naming.</p>
                </div>
            </div>
        </div>


    </div>
</div></div>
{% endblock %}
