{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
</style>
<div class="col-xs-8 left-content">
<div class="row">
    <div class="col-md-12 box">
        <h3 id="criteria">About</h3>
        <p>YeastPhenome.org is a collaborative project that aims at constructing a comprehensive compendium of systematic phenotypic data for budding yeast <em>Saccharomyces cerevisiae</em>. Our goal is to collect, process and share in a standardized format the results of all genome-scale experiments that have examined the yeast deletion collection for any given <a href="{% url 'phenotypes:index' %}">phenotype</a> under any given <a href="{% url 'conditions:index' %}">experimental condition</a>.</p>
        <div class="row">
          <div class="col-md-4">
            <a href="{% url 'common:contributors' %}"><img class="box" src="{% static 'images/icons/users-gray.svg' %}">
            <p>Contributors</li></a>
          </div>
          <div class="col-md-4">
            <a href="{% url 'common:stats' %}"><img class="box" src="{% static 'images/icons/bar-chart-gray.svg' %}">
            <p>Stats</li></a>
          </div>
          <div class="col-md-4">
              <a href="{% url 'common:faq' %}"><img width="164px" height="164px" class="box" src="{% static 'images/icons/question-gray.svg' %}">
             <p>Frequently Asked Questions</p></a>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 box">
        <h3 id="datasources"> Criteria for Inclusion</h3>
        <p>In order to be included in the compendium, a study must meet all of the following criteria:
            <ul>
                <li>use any current or past version of the Mat-a, Mat-alpha, homozygous diploid or heterozygous diploid deletion collection</li>
                <li>test at least 1,000 mutants</li>
                <li>record a quantitative (continuous) or qualitative (binary, discrete, categorical) phenotype (or the lack thereof) for all mutants</li>
                <li>report data on all of the tested mutants or just the most extreme/significant hits (studies that report an arbitrary subset of the hits based on biological interest are excluded)</li>
                <li>be described in a Pubmed-indexed journal article</li>
            </ul>
         </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 box">
        <h3 id="statistics">Data usage and citation policy</h3>
        If you use yeast phenome data in a talk or a manuscript, please acknowledge the data source by citing the original publication from which the data is derived, as well as the yeast phenome database. The database should be cited as follows:</p>
        <p>&mdash; The Yeast Phenome Database, www.yeastphenome.org, accessed on XXXX-XX-XX.</p>
    </div>
</div>
</div>

<!-- Right sidebar, goes away for small screens -->
<div class="col-xs-3 right-sidebar sidebar-fixed" style="padding:0px; padding-top:20px">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item active">
            What do you want to know?
        </span>
        <a href="#" onclick="topFunction()" class="list-group-item">
            About
        </a>
        <a href="#criteria" class="list-group-item">
            Criteria for Inclusion
        </a>
        <a href="#datasources" class="list-group-item">
            Data Sources
        </a>
        <a href="#citation" class="list-group-item">
            Data Usage and Citation Policy
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // Safari
  document.documentElement.scrollTop = 0; // Chrome, Firefox, IE and Opera
} 
</script>
{% endblock %}
