{% extends "base/base_min.html" %}
{% load humanize %}
{% block title %}Authors | About | {{ SITE_NAME }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5">Authors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5 mb-4" id="maintainers">Maintainers</h2>
            <p>Yeastphenome.org was created and is being maintained by:</p>
            <ul>
                <li>Anastasia Baryshnikova (principal investigator, <a class="external" href="http://www.baryshnikova-lab.org">www.baryshnikova-lab.org</a>)</li>
                <li>Christie Chang (data curator)</li>
            </ul>

            <h2 class="mt-5 mb-4" id="past_contributors">Past contributors</h2>
            <p>The following individuals have helped with literature and data curation, as well as with server maintenance, website development, general scripting or infrastructure support (in alphabetical order):</p>
            <ul>
                <li>Sven Heinicke (database management, web development)</li>
                <li>Fan Kang (database management, web development)</li>
                <li>Rose Oughtred (data curator)</li>
                <li>Brianna Richardson (data curator, database management, web development)</li>
                <li>Jennifer Rust (data curator)</li>
                <li>Vanessa Sochat (web development)</li>
                <li>Mark Schroeder (database management, web development)</li>
            </ul>

            <h2 class="mt-5 mb-4" id="data_contributors">Data contributors</h2>
            <p>A very special thanks goes to the <a href="{% url 'common:data_contributors' %}">members of the yeast community</a> who have answered our questions and shared with us more complete or quantitative data from their experiments.</p>

            <h2 class="mt-5 mb-4" id="website_infrastructure">Web infrastructure</h2>
            <p>The YeastPhenome.org website is powered by:</p>
            <ul>
                <li><a href="https://cloud.google.com/" class="external" target="_blank">Google Cloud Platform</a> (App Engine, Storage, Scheduler)</li>
                <li><a href="https://www.djangoproject.com/" class="external" target="_blank">Django</a></li>
                <li><a href="https://getbootstrap.com/" class="external" target="_blank">Bootstrap</a></li>
                <li><a href="https://elastic.co/" class="external" target="_blank">ElasticSearch</a></li>
                <li><a href="https://developers.google.com/chart" class="external" target="_blank">Google Charts</a></li>
                <li>API libraries:
                    <ul>
                        <li><a href="https://pubchempy.readthedocs.io/en/latest/" class="external" target="_blank">PubChemPy</a></li>
                        <li><a href="https://github.com/libChEBI/libChEBIpy" class="external" target="_blank">libChEBIpy</a></li>
                        <li><a href="https://biopython.org/docs/1.75/api/Bio.Entrez.html" class="external" target="_blank">Bio.Entrez</a></li>
                    </ul>
                </li>
                <li>Data:
                    <ul>
                        <li><a href="https://www.yeastgenome.org/" class="external" target="_blank">Saccharomyces Genome Database (SGD)</a></li>
                    </ul>
                </li>
            </ul>

            <h2 class="mt-5 mb-4" id="sponsors">Sponsors</h2>
            <p>The Yeast Phenome team gratefully acknowledges the financial and technical support provided by the following organizations:</p>
            <ul>
                <li><a href="https://lsi.princeton.edu/" class="external" target="_blank">Lewis-Sigler Institute for Integrative Genomics</a> at Princeton University: 2014&mdash;2017</li>
                <li><a href="https://www.calicolabs.com/" class="external" target="_blank">Calico Life Sciences LLC</a>: 2017&mdash;2025</li>
            </ul>
        </div>
    </div>
{% endblock %}
