{% extends "base/wide.html" %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <h1>Authors</h1>
    </div>
</div>
<div class="col-xs-12">
<div class="row">
    <div class="col-xs-12 box">
        <h3 id="maintainers">Maintainers</h3>
        <p>Yeastphenome.org was created and is being maintained by:</p>
        <ul>
            <li>Anastasia Baryshnikova (principal investigator, <a class="external" href="http://www.baryshnikova-lab.org">www.baryshnikova-lab.org</a>)</li>
            <li>Christie Chang (curator)</li>
            <li>Vanessa Sochat (website)</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 box">
        <h3 id="curators">Contributors</h3>
        <p>The following individuals have helped with literature curation and general curation, along with server, website, and other scripting or infrastructure support for YeastPhenome.org:</p>
        <ul>
            <li>Sven Heinicke (database, website)</li>
            <li>Fan Kang (database, website)</li>
            <li>Rose Oughtred (curator)</li>
            <li>Brianna Richardson (curator, database, website)</li>
            <li>Jennifer Rust (curator)</li>
            <li>Mark Schroeder (database, website)</li>
        </ul>
    </div>
</div>
<div class="row" style="padding-top:20px">
        <p class="alert alert-warning">A very special thanks goes to our <a href="{% url 'common:data_contributors' %}">data contributors</a>!</p>
</div>
</div>
{% endblock %}
