{% extends "base/base.html" %}
{% load humanize %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">

                <div class="box" style="height:150px">
                    <p><a class="box-title" href="{% url 'papers:all' %}">Papers</a></p>
                    <p>The complete list of publications that report at least one genome-scale screen of the yeast knock-out collection. Criteria for inclusion are explained at <a href="{% url 'common:project'%}">Project</a>.</p>
                </div>
                <hr>
                <div class="box" style="height:150px">
                    <p><a class="box-title" href="{% url 'phenotypes:index' %}">Phenotypes</a></p>
                    <p>Quantitative (e.g., growth) or discrete (e.g., shape) traits that have been measured or observed across all knock-out mutants in any given screen.</p>
                </div>
            </div>
            <div class="col-md-6">

                <div class="box" style="height:150px">
                    <p><a class="box-title" href="{% url 'datasets:index' %}">Datasets</a></p>
                    <p>Each screen of the collection is a dataset that includes a set of tested genes, an experimental condition and an array of quantitative or discrete values describing the phenotype of each gene.</p>
                </div>
                <hr>
                <div class="box" style="height:150px">
                    <p><a class="box-title" href="{% url 'conditions:index' %}">Conditions</a></p>
                    <p>Natural environments (e.g., nutrient availability, temperature shifts) and artificial perturbations (e.g., chemical compounds, expression of exogenous proteins) that act as stressors and reveal phenotypes.</p></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="box" style="height:150px">
                    <p><a class="box-title" href="{% url 'genes:index' %}">Genes</a></p>
                    <p>All yeast ORFs (verified, uncharacterized and dubious) that have been associated with phenotypes across all datasets.</p>
                </div>
            </div>
        </div>
    </div>
</div></div></div>
{% endblock %}
