{% extends "base/base_min.html" %}
{% load humanize %}
{% block title %}FAQs | About | {{ SITE_NAME }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5">Frequently Asked Questions (FAQs)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <h5 class="mt-5 mb-4">How do I cite data downloaded from YeastPhenome.org?</h5>
            <p>See Data usage and citation policy on the <a href="{% url 'common:project' %}#citation">About</a> page.</p>

            <h5 class="mt-5 mb-4">Are you planning to include data for other yeast libraries (e.g., ts mutants)?</h5>
            <p>At the moment, we are entirely focused on the yeast knock-out library and are not systematically collecting data for any other strain collection. This approach helps us limit the scope of our search and maximize completeness. However, as we encounter publications that systematically examine other libraries, we add them to a running list that one day may act as a starting point for a new project. We are open for collaborations with anyone who is interested in taking on the curation and systematic analysis of these data.</p>

        </div>
    </div>
{% endblock %}
