{% extends "base/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}

<style>
.background {
  background-image: url('{% static "images/yp_homepage.svg" %}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px;
  background-position: calc(50% - 0px) calc(50% + 50px); 
}

.hotlink {
  border-bottom: none !important;
}
</style>
<div>
    <div class="col-md-12" style="padding-bottom: 80px;">
        <div class="row">
            <h1 style="color: black; text-align:center">Yeast Phenome</h1><br>
            <div style="max-width: 600px; margin:auto; text-align: center;">
               <h3>A data library of systematic phenotypic screens of the yeast knock-out collection</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box" style="height:220px">
                    <p><h3>About</h3></p>
                    <p>We collect, organize and share in a common annotated format all genome-scale screens of the knock-out collection in <em>Saccharomyces cerevisiae</em>. <a style="float:right; margin-top:38px" class="hotlink" href="{% url 'common:project' %}">More details ></a> </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box" style="height:220px">
               <h3>What's in the database?</h3>             
                    <p><ul>
                    <li>{{ papers_nr }} <a class="hotlink" href="{% url 'papers:all' %}">papers</a></li>
                    <li>{{ datasets_nr|intcomma }} <a class="hotlink" href="{% url 'datasets:index' %}">datasets</a> (screens)</li>
                    <li>{{ phenotypes_nr|intcomma }} <a class="hotlink" href="{% url 'phenotypes:index' %}">phenotypes</a></li>
                    <li>{{ conditions_nr|intcomma }} <a class="hotlink" href="{% url 'conditions:index' %}">experimental conditions</a></li>
                    <li>{{ genes_nr|intcomma }} <a class="hotlink" href="{% url 'genes:index' %}">genes</a></li>
                    </ul><a style="float:right" class="hotlink" href="{% url 'common:stats' %}">More details ></a></p>
               </div>
        </div>
        <div class="col-md-4" id='twitter-column' style="height:220px">
            <div class="box">
               <h3>News & updates</h3>             
              {% if TWITTER_USERNAME %}<div style="max-height:114px; overflow:scroll">
              <br>{% include "social/twitter.html" %}
            </div>{% endif %}
        </div>
    </div>
</div>
</div></div>
{% endblock %}
{% block scripts %}
{% include "scripts/check-private-mode.html" %}
<script>
// The Twitter feed won't render in private mode
isPrivateMode().then(function (isPrivate) {
  console.log('Browsing in private mode? ', isPrivate);
  if (isPrivate == true) {
      $("#twitter-column").hide();
      $("#main-column").addClass("col-md-12");
      $("#main-column").removeClass("col-md-8"); 
  }
});
</script>
{% endblock %}
