{% extends "base/wide.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
</style>
<div class="row">
    <div class="col-md-12">
      <h1>Project</h1>
    </div>
</div>
<div class="col-xs-12" style="margin-bottom: 50px;">
<div class="row">
    <div class="col-xs-12 box">
        <h3 id="about">About</h3>
        <p>YeastPhenome.org is a collaborative project that builds and maintains the compendium of systematic loss-of-function <a href="{% url 'phenotypes:index' %}">phenotypes</a> for budding yeast <span style="text-decoration:italic">Saccharomyces cerevisiae.</span></p>
        <p>As part of this project, we track, collect and annotate all published phenotypic screens that involve the yeast knock-out collection [ref]. We extract the data, standardize their format and structure and make them available for search, download and analysis. Our main goal is to enable ourselves and others to answer the following questions:
        <ul>
          <li>Has phenotype X ever been measured systematically for all knock-out mutants? How many times? In what conditions? Where were the results published? Where can I download the data?</li>
          <li>Have any phenotypes related to X been tested? Do any phenotypes appear to be related to X by co-occurring in the same mutants?</li>
          <li>What genes rank the highest/lowest for phenotype X? How does gene Y rank relative to all other genes? What other phenotypes have been reported for gene Y? Do any other genes share the same phenotypes?</li>
       </ul>
</p>
        <div class="row">
          <div class="col-md-4">
            <a href="{% url 'common:contributors' %}"><img class="box" src="{% static 'images/icons/users-gray.svg' %}">
            <p>Contributors</li></a>
          </div>
          <div class="col-md-4">
            <a href="{% url 'common:stats' %}"><img class="box" src="{% static 'images/icons/bar-chart-gray.svg' %}">
            <p>Stats</li></a>
          </div>
          <div class="col-md-4">
              <a href="{% url 'common:faq' %}"><img width="164px" height="164px" class="box" src="{% static 'images/icons/question-gray.svg' %}">
             <p>Frequently Asked Questions</p></a>
          </div>
        </div>
    </div>
</div>

<div class="row" id="criteria">
    <div class="col-md-12 box">
        <h3> Criteria for inclusion</h3>
        <p>In order to be included in the compendium, a study must meet all of the following criteria: 
         <ul>
           <li>Measure a quantitative (continuous) or qualitative (binary, discrete, categorical) phenotype (or the lack thereof) for at least 1,000 knock-out mutants</li>
         <li>Use any current or past version of the haploid (Mat-a or Mat-alpha), homozygous diploid or heterozygous diploid deletion collection (BY4741, BY4742 or BY4743)</li>
         <li>Report data on all of the tested mutants or just the most extreme/significant hits</li>
         <li>Be associated with a journal article indexed in Pubmed</li>
        </ul>
        </p>
          <hr>
       <p><h4>We do not include:</h4>
          <ul>
            <li>Large-scale screens of other yeast libraries (e.g., the library of DAmP strains, ts mutants or the prototrophic variant of the knock-out library).</li>
            <li>Studies that report an arbitrary subset of hits chosen based on biological interest.</li>
            <li>Genetic interaction screens, i.e. screens where knock-out mutants are examined under a secondary perturbation that is genetic, not chemical or physical.</li>
         </ul>
       </p>
    </div>
</div>

<div class="row" id="datasources">
    <div class="col-md-12 box">
        <h3> Data sources</h3>
           <p>Our primary source of data is the main text and/or the supplementary material of a publication as provided by the journal’s website. When appropriate, we also download data from personal websites that accompany publications.</p>  
           <p>After downloading the data, we evaluate their completeness relative to the experiment described in the publication and reach out to the authors whenever we see that additional data may be available. For example, if the publication describes the measurement of a quantitative phenotype but only reports a binary list of hits, we ask whether the authors would be able to share the original quantitative dataset. Similarly, we often enquire about the availability of a list of tested strains for each experiment (despite the fact that everyone used the same yeast knock-out library, the actual "tested universe" in each experiment varies by as much as 20%). These datasets, which are effectively unpublished versions of published data, are explicitly flagged in the YeastPhenome.org database to emphasize their special status. The scientists who answered our emails and shared data are acknowledged at <a href="{% url 'common:contributors' %}">Contributors</a>.
       </p>
    </div>
</div>

<div class="row" id="datahandling">
    <div class="col-md-12 box">
        <h3> Data handling</h3>
           <p>For all data, we minimize manual handling to maximize record keeping and reproducibility. The only two operations performed manually are 1) data download and 2) conversion from PDF to a computer-readable format (text or Excel files), whenever required.</p>
           <p>All other data manipulations (QC, clean-up, reformatting, database upload etc.) are done via script (at first -- Matlab; from 2020 forward -- Python). The scripts are version controlled and stored in <a href="" target="_blank">a Github repository</a>.</p>
    </div>
</div>

<div class="row" id="dataphilosophy">
    <div class="col-md-12 box">
        <h3> General philosophy about data collection</h3>
         <p>Coming soon!</p>
    </div>
</div>

<div class="row" id="citation">
    <div class="col-md-12 box">
        <h3>Data usage and citation policy</h3>
         <p>If you use data downloaded from YeastPhenome.org in a talk or a manuscript, please acknowledge the data source by citing the original publication from which the data is derived, as well as the YeastPhenome.org database. The database should be cited as follows:</p>
        <p style="margin-top:30px"><code style="padding:20px;">The YeastPhenome.org Database, www.yeastphenome.org, accessed on XXXX-XX-XX.</code></p>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // Safari
  document.documentElement.scrollTop = 0; // Chrome, Firefox, IE and Opera
} 
</script>
{% endblock %}
