{% extends "base/base_min.html" %}
{% load humanize %}
{% block title %}Support | {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md">
      <h1 class="mt-5 mb-4">Support</h1>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <p>Comments and suggestions about the website (including feature requests, bug reports etc.) can be provided by opening new issues on <a href="https://github.com/yeastphenome/yeastphenome.org/issues" target="_blank">GitHub</a>.</p>
        <p>For data inquires and other general questions, please contact <a href="mailto:{{ HELP_CONTACT_EMAIL }}">{{ HELP_CONTACT_EMAIL }}</a>.</p>

    </div>
</div>
{% endblock %}
