<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<div class="row">
   <div class="{% if hide_legend %}col-md-12{% else %}col-md-10{% endif %}">
      <canvas id="phenotype-measurement-counts"></canvas> Updated on {% now "M. d, Y" %}
   </div>
   {% if hide_legend %}{% else %}<div class="col-md-2" style="padding-top:80px">
     <ul>{% for measurement in measurements %}{% if measurement.description %}
      <li><strong>{{ measurement.name }}</strong>: {{ measurement.description }}</li>{% endif %}{% endfor %}
    </ul>
   </div>{% endif %}
</div>
<div class="row">
   <div class="col-md-12">
    <p>There are {{ phenotype_measurements_undefined }} phenotypes with undefined measurements</p>
   </div>
</div>
<script>
var ctx = document.getElementById("phenotype-measurement-counts").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{% for name, count in phenotype_measurements.items %}"{{ name }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    datasets: [{
      label: "Phenotype Measurement Counts",
      data: [{% for name, count in phenotype_measurements.items %}{{ count }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
      backgroundColor: [{% for name, count in phenotype_measurements.items %}"rgb(55, 121, 238)"{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    }]
  },
  options: {
    title: {
      display: true,
      text: 'Phenotypes by Measurement Type'
    },
    responsive: true,
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
</script>
