{% extends "base/wide.html" %}
{% load my_filters %}
{% block title %}{{ object }} / Papers / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row" style="padding-bottom:25px">
    <div class="col-sm-12">
        <h1>{{ object }}</h1>
    </div>
</div>
{% if object.pmid != 0 %}<div class="row">
    <div class="col-md-12">
        <table class="table" id="papersTable">
            <tr>
                <th width="20%" scope="row" class="first">Pubmed ID</th>
                <td class="first"><a class="external" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ object.pmid }}/">{{ object.pmid }}</a></td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ title }}</td>
            </tr>
            <tr>
                <th scope="row">Authors</th>
                <td>{{ authors|join_and_more:1000 }}</td>
            </tr>
            <tr>
                <th scope="row">Abstract</th>
                <td>{{ abstract }}</td>
            </tr>
            <tr>
                <th scope="row">Citation</th>
                <td>{{ citation }}</td>
            </tr>
            {% if object.data_abstract %}
            <tr>
                <th scope="row">Data abstract</th>
                <td>{{ object.data_abstract }}</td>
            </tr>
            {% endif %}
            {% if object.notes %}<tr>
                <th scope="row">Notes</th>
                <td>{{ object.notes }}</td>
            </tr>{% endif %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    {% include "graphs/citation-graph.html" %}
    <a style="padding-left:600px" href="{% url 'common:paper-citation-graph' paper.id %}">View Full Page</a>
    </div>
</div>
{% endif %}
<div class="row" style="padding-top:30px">
    <div class="col-xs-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-download-tab" data-toggle="pill" href="#pills-download" role="tab" aria-controls="pills-download" aria-selected="true">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-datasets-tab" data-toggle="pill" href="#pills-datasets" role="tab" aria-controls="pills-datasets" aria-selected="false">Datasets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-curation-tab" data-toggle="pill" href="#pills-curation" role="tab" aria-controls="pills-curation" aria-selected="false">Curation History</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane show active" id="pills-download" role="tabpanel" aria-labelledby="pills-download-tab">        
        <div class="pull-right">{% include "papers/zip.html" %}</div>
      </div>
      <div class="tab-pane fade" id="pills-datasets" role="tabpanel" aria-labelledby="pills-datasets-tab" style="padding-top:20px">
        {% include "datasets/datasets_table.html" with template='paper' notitle='true' %}
     </div>
     <div class="tab-pane fade" id="pills-curation" role="tabpanel" aria-labelledby="pills-curation-tab">
        <div class="row">
            {% for k, v in paper.history.items %}
            <div class="col-xs-4">
                <table class="table table-condensed table-no-border">
                    <caption><h4>{{ k|capfirst }}</h4></caption>
                    {% for x in v %}<tr>
                        <td>{{ x.status_date }}</td>
                        <td>{{ x.status.name|capfirst }}.</td>
                    </tr>{% endfor %}
                </table>
            </div>{% endfor %}
        </div>
       </div>
    </div><!--end tab content-->
  </div>
</div>
{% endblock %}
{% block scripts %}
{% include "scripts/tablesorter.html" %}
{% include "scripts/script_popup.html" %}
<script>$(document).ready(function(){
    $("#papersTable").tablesorter();
});</script>
{% endblock %}
