{% extends "base/base.html" %}
{% load my_filters %}
{% block title %}{{ object }} / Papers / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row" style="padding-bottom:25px" id="details">
    <div class="col-sm-12">
        <h1>{{ object }}</h1>
    </div>
</div>
{% include "style/sidenav.html" %}
<div class="large-2 columns" id="sidenav">
    <div>
        <div class="yeast-navbar" style="position: fixed; top: 25.0rem; left:25.7rem;">
            <ul class="nav side-nav">
                <li id="nav-title"><span></span></li>
                <li id="navbar_details"><a href="#">Overview</a></li>
                <li id="navbar_datasets"><a href="#datasets">Datasets</a></li>
                <li id="navbar_curation"><a href="#curation">Curation</a></li>
                <li id="navbar_citations"><a href="#citations">Citations</a></li>
            </ul>
        </div>
    </div>
</div>

{% if object.pmid != 0 %}<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th width="20%" scope="row" class="first">Pubmed ID</th>
                <td class="first"><a class="external" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ object.pmid }}/">{{ object.pmid }}</a></td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ title }}</td>
            </tr>
            <tr>
                <th scope="row">Authors</th>
                <td>{{ authors|join_and_more:1000 }}</td>
            </tr>
            <tr>
                <th scope="row">Abstract</th>
                <td>{{ abstract }}</td>
            </tr>
            <tr>
                <th scope="row">Citation</th>
                <td>{{ citation }}</td>
            </tr>
            {% if object.data_abstract %}
            <tr>
                <th scope="row">Data abstract</th>
                <td>{{ object.data_abstract }}</td>
            </tr>
            {% endif %}
            {% if object.notes %}<tr>
                <th scope="row">Notes</th>
                <td>{{ object.notes }}</td>
            </tr>{% endif %}
        </table>
        <div class="pull-right">{% include "papers/zip.html" %}</div>
    </div>
</div>
<hr>
{% endif %}
<div class="row" style="padding-top:30px" id="datasets">
    <div class="col-xs-12">
        <h2>Datasets</h2>
        {% include "datasets/datasets_table.html" with template='paper' notitle='true' %}
     </div>
</div>
<div class="row" style="padding-top:30px" id="curation">
    <div class="col-xs-12">
        <h2>Curation History</h2>
            {% for k, v in paper.history.items %}
            <div class="col-xs-4">
                <table class="table table-condensed table-no-border">
                    <caption><h4>{{ k|capfirst }}</h4></caption>
                    {% for x in v %}<tr>
                        <td>{{ x.status_date }}</td>
                        <td>{{ x.status.name|capfirst }}.</td>
                    </tr>{% endfor %}
                </table>
            </div>{% endfor %}
     </div>
</div>
<hr>
{% endblock %}
{% block scripts %}
<script>
{% if datasets %}$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 10, "language": {"search": "Filter:"}});
    $("#dataset_download").show();
    add_to_cart()
    remove_from_cart()
});{% endif %}</script>
{% endblock %}
