{% extends "base/wide.html" %}
{% load my_filters %}
{% block title %}{{ object }} / Papers / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row" style="padding-bottom:25px" id="details">
    <div class="col-sm-12">
        <h1>{{ object }}</h1>
    </div>
</div>

{% if object.pmid != 0 %}<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th width="20%" scope="row" class="first">Pubmed ID</th>
                <td class="first"><a target="_blank" class="external" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ object.pmid }}/">{{ object.pmid }}</a></td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ title }}</td>
            </tr>
            <tr>
                <th scope="row">Authors</th>
                <td>{% for author in authors %}{% if forloop.first %}<a href="/papers/?authors={{ object.first_author }}">{% elif forloop.last %}<a href="/papers/?authors={{ object.last_author }}">{% endif %}{{ author }}{% if forloop.first or forloop.last %}</a>{% endif %}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">Abstract</th>
                <td>{{ abstract }}</td>
            </tr>
            <tr>
                <th scope="row">Citation</th>
                <td>{{ citation }}</td>
            </tr>
            {% if object.data_abstract %}
            <tr>
                <th scope="row">Data abstract</th>
                <td>{{ object.data_abstract }}</td>
            </tr>
            {% endif %}
            {% if object.notes %}<tr>
                <th scope="row">Notes</th>
                <td>{{ object.notes }}</td>
            </tr>{% endif %}
            <tr>
                <th scope="row">Raw data & curation code</th>
                <td><a class="inactive external" target="_blank" title="This repository is private and will soon be made public." href="https://github.com/baryshnikova-lab/yeastphenome-data/tree/master/Datasets/{{ object.pmid }}" onclick="return false;" disabled>Dataset on GitHub</a> (<i>Coming soon!</i>)</td>
            </tr>
        </table>
    </div>
</div>
<hr>
{% endif %}
<div class="row" style="padding-top:30px" id="datasets">
    <div class="col-xs-12">
        <h2>Datasets</h2>
        {% include "datasets/datasets_server_render_table.html" %}
        <a href="{% url 'datasets:download_paper_datasets' paper.id %}" class="btn btn-primary" role="button">Download now</a>
     </div>
</div>
<div class="row" style="padding-top:30px" id="curation">
    <div class="col-xs-12">
        <h2>Curation History</h2>
            {% for k, v in paper.history.items %}
            <div class="col-xs-4">
                <table class="table table-condensed table-no-border">
                    <caption><h4>{{ k|capfirst }}</h4></caption>
                    {% for x in v %}<tr>
                        <td>{{ x.status_date }}</td>
                        <td>{{ x.status.name|capfirst }}.</td>
                    </tr>{% endfor %}
                </table>
            </div>{% endfor %}
     </div>
</div>
<hr>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#papersTable").dataTable({"pageLength": 10, "language": {"search": "Filter:"}, "processing": true, "serverSide": true, "ajax": "{% url 'api:paper_datasets' object.id %}", "lengthMenu": [[10,15,20,25], [10,15,20,25]],
     "drawCallback": function( settings ) {
        add_to_cart();
        remove_from_cart();
        align_right();
    }
   });
});</script>
{% endblock %}
