{% extends "base/wide.html" %}
{% load my_filters %}
{% block title %}Papers / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
    <h1>Papers</h1>
    {% if papers_list %}
    <table id="papersTable" class="tablesorter table table-striped" width="100%">
        <thead>
        <tr>
            <th class="text-nowrap" width="30%">FirstAuthor~LastAuthor, Year</th>
            <th width="35%">Phenotypes</th>
            <th width="35%">Conditions</th>
        </tr>
        </thead>

        <tbody>

        {% for paper in papers_list %}
        <tr>
            <td class="text-nowrap"><a href="{% url 'papers:detail' paper.pk  %}">{{ paper }}</a></td>
            <td>{{ paper.phenotypes|join_and_more:7 }}</td>
            <td>{{ paper.conditiontypes|join_and_more:7|safe }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}<aside class="bg-warning">No papers are available.</aside>{% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include "scripts/tablesorter.html" %}
<script>$(document).ready(function(){
    $("#papersTable").tablesorter();
});
</script>
{% endblock %}
