{% load my_filters %}
<table id="papersTable" class="tablesorter table table-striped" width="100%">
    <thead>
        <tr>
            <th class="text-nowrap" width="30%">First Author~Last Author, Year</th>
            <th width="35%">Phenotypes</th>
            <th width="35%">Conditions</th>
        </tr>
    </thead>
    <tbody id="papersTableBody">
        {% for paper in papers_list %}
        <tr>
            <td class="text-nowrap"><a href="{% url 'papers:detail' paper.pk  %}">{{ paper }}</a></td>
            <td>{{ paper.phenotype_list|truncatechars:50 }}{% if paper.phenotype_list|length > 50 %}...{% endif %}</td>
            <td>{{ paper.condition_list|truncatechars:50|safe }}{% if paper.condition_list|length > 50 %}...{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
