{% extends "base/wide.html" %}
{% block title %}{{ object|capfirst }} / Experimental conditions / {{ SITE_NAME }}{% endblock %}
{% block container %}
<style>
text {
  font: 12px sans-serif;
}
.node {
  cursor: pointer;
}
</style>
<div class="row" style="padding-left:30px; padding-bottom:30px">
    <div class="col-md-12">
        <h1>Browse Conditions</h1>
        <small>Top 100 By number of associated datasets</small>
        <div id="vis"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="//d3js.org/d3.v4.js"></script>
<script>

// {packageName: name, className: node.name, value: node.size});
data = [{% for entry in data %}{% if entry.name != "standard" %}{"id": {{ entry.id }},"packageName": "{{entry.name}}", "className": "{{entry.name}}", "value": {{entry.number_of_datasets}} }{% if forloop.last %}{% else %},{% endif %}{% endif %}{% endfor %}]

var width = 1400,
    height = 900,
    format = d3.format(",d"),
    color = d3.scaleOrdinal(d3.schemeCategory20c);

var bubble = d3.pack()
    .size([width, height])
    .padding(10.5);

var svg = d3.select("#vis").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "bubble");

  var root = d3.hierarchy({"children": data})
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.value - a.value; });

  bubble(root);
  var node = svg.selectAll(".node")
      .data(root.children)
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.data.className + ": " + format(d.value); });

  node.append("circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.data.packageName)})
      .on("click", function(d){ document.location = "/conditions/" + d.data.id})

  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.data.className.substring(0, d.r / 4); });

</script>
{% endblock %}
