{% extends "base/base_min.html" %}
{% load humanize %}
{% block title %}Page not found | {{ SITE_NAME }}{% endblock %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md">
      <h1 class="mt-5 mb-4">Oops! Page not found &mdash; 404.</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <img src="{% static 'images/404_trim.png' %}">
    </div>
    <div class="col-md-8 d-flex align-items-center">
        <div class="alert alert-warning" role="alert">
          <p>Sorry, we cannot find the page you're looking for.</p>
          <p>Please consider going back to the <a href="/">Homepage</a> or visiting our <a href="{% url 'common:support' %}">Support</a> section</a>.</p>
        </div>
    </div>
</div>
{% endblock %}