<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 Page Not Found</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <style>

.title {
  font-family: 'Courgette', cursive;
  font-size: 32px; 
  font-weight:600; 
}

a:hover, a:focus {
 color: rgb(36, 113, 163) !important;
}

body {
 margin: 0px;
 background-color: #7fb3d5;
}

a {
  text-decoration: underline !important;
}

.message {
  color: rgb(36, 113, 163);
  margin-top: 100px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
</style>
</head>
<body>

<div class="container">
  <div class="row message">
      <div class="col-md-6 card">
         <img src="{{ DOMAIN }}/static/images/404.png" style="max-width:100%"/>
      </div>
      <div class="col-md-6 card" style="margin-top: 100px;">
         <span class="title">404 Page Not Found</span>
         <h3>YeastPhenome.org</h3>
         <p>Sorry, the page you're looking for cannot be found.</p>
         <ul style="padding-left:100px">
           <li><a href="{% url 'common:index' %}">Home Page</a></li>
           <li><a href="{% url 'common:about' %}">About YeastPhenome</a></li>
           <li><a href="{% url 'common:explorer' %}">Explore Data</a>
              <ul>
                <li><a href="{% url 'papers:all' %}">Papers</a></li>
                <li><a href="{% url 'datasets:index' %}">Datasets</a></li>
                <li><a href="{% url 'phenotypes:index' %}">Phenotypes</a></li>
                <li><a href="{% url 'conditions:index' %}">Conditions</a></li>
                <li><a href="{% url 'genes:index' %}">Genes</a></li>
              </ul>
           </li>
         </ul>
      </div>
    </div>
</div>
</body>
</html>
