{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>

    {% include "base/ga.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}YeastPhenome.org{% endblock %}</title>
    <meta name="description" content="{% block description %}YeastPhenome.org{% endblock %}">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="YeastPhenome.org">
    <meta property="og:url" content="{{ DOMAIN }}">
    <meta property="og:site_name" content="YeastPhenome.org">
    <meta property="og:description" content="YeastPhenome.org">
    <meta name="twitter:title" content="YeastPhenome.org">
    <meta name="twitter:image" content="{% static 'images/logo-temporary.png' %}">
    {% if TWITTER_USERNAME %}<meta name="twitter:url" content="https://www.twitter.com/{{ TWITTER_USERNAME }}">{% endif %}
    <meta name="twitter:card" content="summary">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    {% block topscripts %}{% endblock %}
    <link href="{% static 'css/style_min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    {% block head %}{% endblock %}
</head>

{% block body %}
    <body class="pt-5">
    <div class="container">

        {% include "base/navigation_min.html" %}

        {% include "base/breadcrumbs_min.html" %}

        {% block content %}{% endblock %}
    </div>
    {% include "base/footer_min.html" %}
    {% block scripts %}{% endblock %}
    </body>
{% endblock %}

{% block bottomscripts %}{% endblock %}
</html>
