{% load static %}
<style>
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}
.second-navbar {
    background-color: rgb(177, 103, 24);
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.second-nav-link {
   text-decoration: none !important;
   color: white;
   font-weight: 600;
   padding-top: 15px;
   padding-bottom: 15px;
}

.dropdown-toggle {
    font-weight: 600;
}

.selectize-input {
  border: none !important;
}

.selectize-input::after {
  display: none !important
}

.selectize-input, .selectize-control.single .selectize-input input {
    cursor: auto !important;
}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top sticky-top">
  <div class="container-fluid" style="padding-right:110px">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".global-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'common:index' %}" style="padding-left:110px;">
    <picture>
        <source srcset="{% static 'images/logo-temporary.png' %}" media="(max-width: 360px)">
        <img id="navbar_logo"
                alt="YeastPhenome.org"
                src="{% static 'images/logo-temporary.png' %}"
        />
    </picture><span style="color:white; font-weight:600">yeastphenome.org</span>
      </a>      
    </div>

    <!-- Navigation -->
    <div class="collapse navbar-collapse global-navbar" id="global-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{% url 'common:getting-started' %}" {% if active == "getting-started" %}style="background-color:rgb(177, 103, 24)"{% endif %} role="button" aria-haspopup="true" aria-expanded="false">Getting Started <i class="fas fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{% url 'common:introduction' %}">Introduction</a></li>
            <li><a href="{% url 'common:background' %}">Background</a></li>
            <li><a href="{% url 'common:tutorials' %}">Tutorials</a></li>
            <li><a href="{% url 'common:advanced' %}">Advanced</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{% url 'common:explorer' %}" {% if active == "explorer" %}style="background-color:rgb(177, 103, 24)"{% endif %} role="button" aria-haspopup="true" aria-expanded="false">Explore Data <i class="fas fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="{% url 'papers:all' %}">Papers</a></li>
              <li><a href="{% url 'datasets:index' %}">Datasets</a></li>
              <li><a href="{% url 'phenotypes:index' %}">Phenotypes</a></li>
              <li><a href="{% url 'conditions:index' %}">Conditions</a></li>
              <li><a href="{% url 'genes:index' %}">Genes</a></li>
          </ul>
        {% if HELP_CONTACT_EMAIL %}<li class="visible-xs-block"><a href="mailto:{{ HELP_CONTACT_EMAIL }}"><i class="fas fa-envelope-open"></i> {{ HELP_CONTACT_EMAIL }}</a></li>{% endif %}
        {% if TWITTER_USERNAME %}<li class="visible-xs-block"><a href="https://twitter.com/{{ TWITTER_USERNAME }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> @{{ TWITTER_USERNAME }}</a></li>{% endif %}
        </li>
        <li class="dropdown">
          <a {% if active == "about"%}style="background-color:rgb(177, 103, 24)"{% endif %} role="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">About <i class="fas fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{% url 'common:about' %}">About</a></li>
            <li style="margin: 8px 0" role="separator" class="divider"></li>
            <li><a href="{% url 'papers:contributors' %}">Paper Contributors</a></li>
            <li><a href="{% url 'common:contributors' %}">Contributors</a></li>
            <li><a href="{% url 'common:faq' %}">Frequently Asked Questions</a></li>
            <li><a href="{% url 'common:stats' %}">Stats</a></li>
          </ul>
        </li>
       {% if GITHUB_REPOSITORY %}<li><a href="{{ GITHUB_REPOSITORY }}/issues" target="_blank" rel="noopener"><i class="fas fa-comments visible-xs-inline"></i> Support</a></li>{% endif %}
        <li><a {% if active == "downloads"%}style="background-color:rgb(177, 103, 24)"{% endif %} href="{% url 'common:view_cart' %}" class="nav-link waves-effect">
               <!--<i title="Downloads" class="fas fa-shopping-basket"></i>-->
               Downloads
              <span class="clearfix d-none d-sm-inline-block"></span></a>
        </li>        
        <!-- Search for genes -->
        <li id="global_search_navbar">
          <div>
    <form class="form-inline my-2 my-lg-0" style="margin-top:8px" method="GET" action="{% url 'datasets:index' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" style="display:none" type="submit">Search</button>
    </form>
          </div>
        </li>
      </ul>
      {% if links %}{% with links_length=links|length %}<ul class="nav navbar-nav navbar-left global-navbar second-navbar">
        {% if links_length > 1 %}{% for link in links %}{% if forloop.first %}<li style="padding-left:100px"><a href="{{ link.url }}" class="nav-link waves-effect" style="text-decoration:none">{% with link_length=link.name|length %}{% if link_length > 150 %}{{ link.name|truncatechars:97 }}{% else %}{{ link.name }}{% endif %}{% endwith %}<img style="padding-left:25px" src="{% static 'images/icons/right-arrow.png' %}" height="20px"><span class="clearfix d-none d-sm-inline-block"></span></a></li>
        {% elif forloop.last %}<li class="nav-link waves-effect second-nav-link" style="text-decoration:none; cursor: default;">{% with link_length=link.name|length %}{% if link_length > 150 %}{{ link.name|truncatechars:97 }}{% else %}{{ link.name }}{% endif %}{% endwith %}<span class="clearfix d-none d-sm-inline-block"></span></li>
      {% else %}<li><a href="{{ link.url }}" class="nav-link waves-effect" style="text-decoration:none">{% with link_length=link.name|length %}{% if link_length > 150 %}{{ link.name|truncatechars:97 }}{% else %}{{ link.name }}{% endif %}{% endwith %}<img style="padding-left:25px" src="{% static 'images/icons/right-arrow.png' %}" height="20px"><span class="clearfix d-none d-sm-inline-block"></span></a></li>{% endif %}
      {% endfor %}{% endif %}
      </ul>{% endwith %}{% endif %}
    </div>
  </div>
</nav>

<script>
// show dropdown on hover
$(document).ready(function(){
    $(".dropdown, .btn-group").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        console.log(dropdownMenu.parent())
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }

    });
});
</script>
