{% load static %}
<style>
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}
.dropdown-toggle {
    font-weight: 600;
}
/*.selectize-input {
  border: none !important;
  color: white !important;
  font-weight: 600 !important;
  background-color: rgb(177, 103, 24) !important;
}*/
/* Note from @vsoch - this was developed for the front page to create a version without
   navigation, but upon implementation it wasn't a good user interaction. The template
   is maintained here in case it's ever needed / wanted again */
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'common:index' %}">
    <picture>
        <source srcset="{% static 'images/logo-temporary.png' %}" media="(max-width: 360px)">
        <img id="navbar_logo"
                alt="YeastPhenome.org"
                src="{% static 'images/logo-temporary.png' %}"
        />
    </picture><span style="color:white; font-weight:600">yeastphenome.org</span>
      </a>
      
    </div>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="global-navbar">
      <ul class="nav navbar-nav navbar-right">
       {% if GITHUB_REPOSITORY %}<li><a href="{{ GITHUB_REPOSITORY }}/issues" target="_blank" rel="noopener"><i class="fas fa-comments visible-xs-inline"></i> Support</a></li>{% endif %}
        <!-- Search for genes -->
      </ul>
    </div>
  </div>
</nav>
