<style>
@media only screen {
#sidenav {
  display:none !important
 }
}
@media screen and (max-width: 1950px) {
#sidenav {
  display:none !important
 }
}

@media only screen and (min-width: 1950px) {
#sidenav {
  display:inherit !important
  }
}

.yeast-navbar .side-nav {
    padding: 0;
}
.side-nav {
 display:block;
 margin:0;
 padding:0.875rem 0;
 list-style-type:none;
 list-style-position:outside;
 font-family:"Lato","sans-serif"
}
.side-nav li {
 margin:0 0 0.4375rem 0;
 font-weight:normal
}
.side-nav li a:not(.button) {
 display:block;
 margin:0;
 padding:0.4375rem 0.875rem
}
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
 background:rgba(0,0,0,0.025);
 color:#93a8c1
}
.side-nav li.divider {
 border-top:1px solid;
 height:0;
 padding:0;
 list-style:none;
 border-top-color:#fff
}
.side-nav li.heading {
 color:#6582A6;
 font-size:0.875rem;
 font-weight:bold;
 text-transform:uppercase
}
.side-nav {
 max-width:150px;
 border:1px #ccc solid;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 margin-top:0;
 margin-left:5px;
 list-style-type:disc;
 list-style-position:outside;
 overflow:hidden
}
@media (max-width: 72em) {
 .side-nav {
  max-width:115px
 }
}
.side-nav>li {
 margin-bottom:-1px;
 line-height:20px
}
.side-nav li.active a,
.side-nav li.active a:hover {
 background-color:#615f8f;
 color:#fff
}
.side-nav>li>a {
 display:block;
 border-top:1px solid #ccc;
 padding:8px 12px 10px 12px;
 margin-right:0;
 line-height:20px
}
.side-nav>.active>a,
.side-nav>.active>a:hover {
 border-color:#ddd;
 border-style:solid;
 border-width:1px;
 color:#fff;
 cursor:default
}
.side-nav {
    display: block;
    margin: 0;
        margin-top: 0px;
        margin-left: 0px;
    padding: 0.875rem 0;
    list-style-type: none;
    list-style-position: outside;
    font-family: "Lato","sans-serif";
}

.yeast-navbar .side-nav {
 padding:0
}
@media print {
 .yeast-navbar {
  display:none
 }
}

</style>
