<script>

    function add_to_cart_function(event){
        var dataset_id = $(this).attr("data-id");
        var element = $('#dataset-cart-' + dataset_id);
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const request = new Request(
            "/downloads/cart/add/" + dataset_id + "/",
            {headers: {'X-CSRFToken': csrftoken}});

        fetch(request, {
            method: 'POST',
            mode: 'same-origin'  // Do not send CSRF token to another domain.
        }).then(response => response.json())
            .then(data => {
                $("#top-messages").html("");
                var element = $('#dataset-cart-' + dataset_id);
                if (data['status'] == "success") {
                    $(element).removeClass('add-to-cart');
                    $(element).removeClass('btn-primary');
                    $(element).addClass('remove-from-cart');
                    $(element).addClass('btn-danger');
                    $(element).html('<i class="bi bi-download"></i>&nbsp; Remove')
                    $(element).unbind("click");
                    $(element).click(remove_from_cart_function);
                } else {
                    $("#message-content").html(data['message']);
                    $("#message-block").show();
                    $(".add-to-cart").addClass("disabled");
                }
            });
    }

    $(".add-to-cart").click(add_to_cart_function);

    function remove_from_cart_function(event){
        var dataset_id = $(this).attr("data-id");
        var element = $('#dataset-cart-' + dataset_id);
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
            "/downloads/cart/remove/" + dataset_id + "/",
            {headers: {'X-CSRFToken': csrftoken}});

        fetch(request, {
            method: 'POST',
            mode: 'same-origin'  // Do not send CSRF token to another domain.
        }).then(response => response.json())
            .then(data => {
                $("#top-messages").html("");
                if (data['status'] == "success") {
                    $(element).removeClass('remove-from-cart');
                    $(element).removeClass('btn-danger');
                    $(element).addClass('add-to-cart');
                    $(element).addClass('btn-primary');
                    $(element).html('<i class="bi bi-download"></i>&nbsp; Add')
                    $(element).unbind("click");
                    $(element).click(add_to_cart_function);
                    $(".add-to-cart").removeClass("disabled");
                } else {
                    $("#message-content").html(data['message']);
                    $("#message-block").show();
                }
            });
    }

    $(".remove-from-cart").click(remove_from_cart_function);

    {% if request.session.cart|length >= DOWNLOAD_CART_LIMIT %}
        $(".add-to-cart").attr('disabled', true);
    {% endif %}

</script>
