{% extends "base/wide.html" %}
{% load static %}{% load string_multiply %}
{% block title %}{{ object|capfirst }} / Phenotypes / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
    <hgroup>
        <h1>{{ object|capfirst }}</h1>
        <p>
            {% for ancestor in object.get_ancestors %}
            {% filter multiply:ancestor.level %}&nbsp; &nbsp; &nbsp; &nbsp;{% endfilter %} {{ ancestor.link_detail|safe|capfirst }}</br>
            {% endfor %}
        </p>
    </hgroup>
    {% include "datasets/datasets_table.html" with template='phenotype' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include "scripts/tablesorter.html" %}
{% include "scripts/script_popup.html" %}
<script>$(document).ready(function(){
 $("#papersTable").tablesorter();
});</script>
{% endblock %}
