{% extends "base/base.html" %}
{% load my_filters %}
{% block title %}Phenotypes / {{ SITE_NAME }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Phenotypes</h1>
        {% if observables %}<table id="papersTable" class="tablesorter table table-condensed" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Conditions</th>
                <th>Papers</th>
            </tr>
            </thead><tbody>
        {% for observable in observables %}<tr>
            <td class="col-md-4">{{ observable.link_detail|safe }}</td>
            <td class="col-md-4">{{ observable.conditiontypes|join_and_more:7|safe }}</td>
            <td class="col-md-4">{{ observable.papers|join_and_more:7|safe }}</td>
        </tr>{% endfor %}
        </tbody>
        </table>

	<div class="pagination">
	    <div class="step-links">
		{% if observables.has_previous %}
		    <a href="?page=1">&laquo; first</a>
		    <a href="?page={{ observables.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current" style="margin-right:30px; margin-left:30px">
		    Page {{ observables.number }} of {{ observables.paginator.num_pages }}.
		</span>

		{% if observables.has_next %}<span style="float:right">
		    <a href="?page={{ observables.next_page_number }}">next</a>
		    <a href="?page={{ observables.paginator.num_pages }}">last &raquo;</a>
		</span>{% endif %}
	    </div>
	</div>
        {% else %}<p class="alert alert-info">There are no phenotypes in the database.</p>{% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include "scripts/tablesorter.html" %}
<script>$(document).ready(function(){
 $("#papersTable").tablesorter();
});</script>
{% endblock %}
