{% load my_filters %}
<div class="row">
    <div class="col-md-12">
        <table id="papersTable" class="tablesorter table table-condensed" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Conditions</th>
                <th>Reporters</th>
                <th>Papers</th>
            </tr>
            </thead><tbody id="papersTableBody">
        {% for observable in observables %}<tr>
            <td class="col-md-3">{{ observable.link_detail|safe }}</td>
            <td class="col-md-3">{{ observable.conditiontypes|join_and_more:7|safe }}</td>
            <td class="col-md-3">{{ observable.reporters|join_and_more:7|safe }}</td> 
            <td class="col-md-3">{{ observable.papers|join_and_more:7|safe }}</td>
        </tr>{% endfor %}
        </tbody>
        </table>
    </div>
</div>
