{% extends "base/wide.html" %}
{% load static %}
{% block title %}{{ class_name|capfirst }} / Datasets / {{ SITE_NAME }}{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Phenotype tags: {{ names }}</h1>
	    <table style="padding-top:20px" id="papersTable" class="table table-condensed table-hover" width="100%">
		<thead><tr>
		    <th>Name</th>
		    <th>Phenotypes</th>
		    <th>Papers</th>
                </tr>
		</thead>
		<tbody id="papersTableBody">
		{% for observable in observables %}<tr>
		    <td>{{ observable.name }}</a></td>
		    <td>{% for p in observable.phenotypes %}<a href="{% url 'phenotypes:detail' p.id %}">{{ p }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
		    <td>{% for p in observable.papers %}<a href="{% url 'papers:detail' p.id %}">{{ p }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
          	</tr>{% endfor %}
		</tbody>
	    </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
  $("#papersTable").DataTable({"pageLength": 10,  
        "language": {"search": "Filter:"},
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
        ]
  });
  $('#papersTable').DataTable().order([4, 'desc']).draw();
});
</script>
{% endblock %}
