<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <h2>Conditions</h2>
        <table class="table table-striped">
            <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 20%">Other names</th>
                <th style="width: 20%">Doses</th>
                <th style="width: 20%">Phenotypes</th>
                <th>Tags</th>
            </tr>
            {% for condition in conditions_page_obj %}
                <tr>
                    <td><a href="/conditions/{{ condition.id }}/">{{ condition.name }}</a></td>
                    <td>{{ condition.all_other_names }}</td>
                    <td>{{ condition.doses_str_list }}</td>
                    <td>{{ condition.observables_list_str }}</td>
                    <td>{{ condition.tags_list_str }}</td>
                </tr>
            {% endfor %}
        </table>

    {% include "search/pagination.html" with page_obj=conditions_page_obj %}

    </div>
</div>