<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <h2>Genes</h2>

        {% include "search/pagination.html" with page_obj=genes_page_obj %}

        <table class="table table-striped">
            <tr>
            <th style="width: 20%">Systematic name</th>
            <th style="width: 20%">Aliases</th>
            <th>Description</th>
            </tr>
            {% for gene in genes_page_obj %}
                <tr>
                    <td><a href="{% url 'genes:detail' gene.pk  %}">{{ gene }}</a></td>
                    <td>{{ gene.aliases_list_str }}</td>
                    <td>{{ gene.description }}</td>
                </tr>
            {% endfor %}
        </table>

        {% include "search/pagination.html" with page_obj=genes_page_obj %}

    </div>
</div>