<nav aria-label="Search results page navigation">
    <ul class="pagination justify-content-end">
        {% if page_obj.paginator.num_pages > 1 %}
            {% if page_range|first > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ request.GET.q }}&tab={{ tab }}&page={{ page_range|first|add:"-1" }}">&laquo;</a>
                </li>
            {% endif %}
            {% for p in page_range %}
                {% if 'page' not in request.GET and p == 1 or p|slugify == request.GET.page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ p }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ request.GET.q }}&tab={{ tab }}&page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_range|last < page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ request.GET.q }}&tab={{ tab }}&page={{ page_range|last|add:"1" }}">&raquo;</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
