{% if scores %}
    <table id="{{ table_id }}" class="table mt-3">
        <thead>
        <tr>
            <th scope="col" class="col-md-8">Screen name</th>
            <th scope="col"><a class="info" data-bs-toggle="tooltip"
                               title="{% include 'base/nps_explanation.html' %}">Normalized phenotypic value (NPV)</a></th>
            <th scope="col">Percentile</th>
        </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td><a href="{% url 'datasets:detail' score.dataset_id %}">{{ score.dataset_name }}</a></td>
                <td>{{ score.valuez|floatformat:2 }}</td>
                <td>{{ score.percentile|floatformat:2 }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}



