{% if similarities %}
    <table id="{{ table_id }}" class="table mt-3">
        <thead>
        <tr>
            <th scope="col" class="col-md-6">Gene name</th>
            <th scope="col" class="col-md-2"><a class="info" data-bs-toggle="tooltip"
                               title="{% include 'base/correlation_explanation.html' %}">Correlation<br>(mean &#177; std. dev.)</a></th>
            <th scope="col" class="col-md-2">Percentile</th>
            <th scope="col" class="col-md-2">Scatter plot</th>
        </tr>
        </thead>
        <tbody>
        {% for similarity in similarities %}
            <tr>
                <td><a href="{% url 'genes:detail' similarity.gene2_id %}">{{ similarity.gene2__common_name }} / {{ similarity.gene2__systematic_name }}</a></td>
                <td>{{ similarity.score|floatformat:2 }} &#177; {{ similarity.pvalue|floatformat:2 }}</td>
                <td>{{ similarity.percentile|floatformat:2 }}%</td>
                <td><a href="{% url 'genes:scatterplot_gc' gene.id similarity.gene2_id %}">Show</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
