<table id="{{ table_id }}" class="table table-condensed table-hover" width="100%">
    <thead>
    <tr>
        <th class="text-nowrap" width="25%">Gene</th>
        <th width="25%">Correlation Mean</th>
        <th width="25%">Correlation Std. Dev.</th>
        <th width="25%">Compare</th>
    </tr>
    </thead>
    <tbody>
    {% for sim in scores %}
        <tr>
            <td class="dt-center"><a href="{% url 'genes:detail' sim.gene2.id %}">{{ sim.gene2 }}</a></td>
            <td class="dt-center">{{ sim.score|stringformat:".2f" }}</td>
            <td class="dt-center">{{ sim.pvalue|stringformat:".2f" }}</td>
            <td class="dt-center"><a href="{% url 'genes:similar_scatterplot' sim.gene1.id sim.gene2.id %}">Scatter plot</a></td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" role="button" href="{% url 'genes:download_gene_similarities' gene.id %}">Download now</a>
<a class="btn btn-success" role="button" href="{% url 'genes:similar_genes' gene.id %}">View all</a>
