{% extends "base/wide.html" %}
{% load static %}
{% load my_filters %}
{% block title %}Similar Genes / {{ SITE_NAME }}{% endblock %}
{% block content %}
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: darkblue;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 300px;
  height: 28px;
  pointer-events: none;
}

.regression {
  stroke-width: 1px;
  stroke: {% if sim.score > 0 %}green{% else %}darkred{% endif %};
  stroke-dasharray: 10,5;
}
</style>
<div class="row">
    <div class="col-md-12">
        <h1>Gene Similarity Scatterplot: {{ gene1 }} vs. {{ gene2 }}</h1>
        <p>Correlation: {{ sim.score }}</p> 
        <div id="gene_plot"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}

<script src="https://d3js.org/d3.v3.min.js"></script>

<script>

var data = [{% for dataset_id, entry in scores.items %}{"dataset_id": {{ dataset_id }}, "value1": {{ entry.values.0|stringformat:".2f" }}, "value2": {{ entry.values.1|stringformat:".2f" }}, "gene1_id": {{ entry.genes.0 }}, "gene2_id": {{ entry.genes.1 }}, "gene1": "{{ entry.names.0 }}", "gene2": "{{ entry.names.1 }}" }{% if forloop.last %}{% else %},{% endif %}{% endfor %}]

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 1400 - margin.left - margin.right,
    height = 700 - margin.top - margin.bottom;

// setup x 
var xValue = function(d) { return d.value1;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.value2;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

// setup fill color (this could be more meaningful, how to group datasets?)
var cValue = function(d) { return d.dataset_id;},
    color = d3.scale.category10();

// add the graph canvas to the body of the webpage
var svg = d3.select("#gene_plot").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the tooltip area to the webpage
var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


var lg = calcLinear(data, "value1", "value2");

// don't want dots overlapping axis, so add in buffer to data domain
xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

// x-axis
svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("{{ gene1 }}");

// y-axis
svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("{{ gene2 }}");

// draw dots
svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return "steelblue";}) 
//      .style("fill", function(d) { return color(cValue(d));}) 
      .on("click", function(d) {
         document.location = "/datasets/" + d.dataset_id + "/";
      })
      .on("mouseover", function(d) {
          tooltip.transition()
               .duration(200)
               .style("opacity", .9);
          tooltip.html("Dataset: " + d.dataset_id + " <br/> (" + xValue(d) 
	        + ", " + yValue(d) + ")")
               .style("left", (d3.event.pageX + 5) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      });

svg.append("line")
    .attr("class", "regression")
    .attr("x1", xScale(lg.ptA.x))
    .attr("y1", yScale(lg.ptA.y))
    .attr("x2", xScale(lg.ptB.x))
    .attr("y2", yScale(lg.ptB.y));

// draw legend
// var legend = svg.selectAll(".legend")
//      .data(color.domain())
//    .enter().append("g")
//      .attr("class", "legend")
//      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

// draw legend colored rectangles
//  legend.append("rect")
//      .attr("x", width - 18)
//      .attr("width", 18)
//      .attr("height", 18)
//      .style("fill", color);

// draw legend text
//  legend.append("text")
//      .attr("x", width - 24)
//      .attr("y", 9)
//      .attr("dy", ".35em")
//      .style("text-anchor", "end")
//      .text(function(d) { return d;})


// https://bl.ocks.org/HarryStevens/be559bed98d662f69e68fc8a7e0ad097
function calcLinear(data, x, y){

      // Get boundaries
      var minX = d3.min(data, function(d){ return d.value1})
      var minY = d3.min(data, function(d){ return d.value2})
      var maxX = d3.max(data, function(d){ return d.value1})
      var maxY = d3.max(data, function(d){ return d.value2})

      // Let n = the number of data points
      var n = data.length;

      // Get just the points
      var pts = [];
      data.forEach(function(d,i){
        var obj = {};
        obj.x = d[x];
        obj.y = d[y];
        obj.mult = obj.x*obj.y;
        pts.push(obj);
      });
      console.log(pts)

      // Let a equal n times the summation of all x-values multiplied by their corresponding y-values
      // Let b equal the sum of all x-values times the sum of all y-values
      // Let c equal n times the sum of all squared x-values
      // Let d equal the squared sum of all x-values
      var sum = 0;
      var xSum = 0;
      var ySum = 0;
      var sumSq = 0;
      pts.forEach(function(pt){
        sum = sum + pt.mult;
        xSum = xSum + pt.x;
        ySum = ySum + pt.y;
        sumSq = sumSq + (pt.x * pt.x);
      });
      var a = sum * n;
      var b = xSum * ySum;
      var c = sumSq * n;
      var d = xSum * xSum;

      // Plug the values that you calculated for a, b, c, and d into the following equation to calculate the slope
      // slope = m = (a - b) / (c - d)
      var m = (a - b) / (c - d);

      // Intercept: Let e equal the sum of all y-values
      var e = ySum;

      // Let f equal the slope times the sum of all x-values
      var f = m * xSum;

      // Plug the values you have calculated for e and f into the following equation for the y-intercept
      // y-intercept = b = (e - f) / n
      var b = (e - f) / n;

      // return an object of two points
      // each point is an object with an x and y coordinate
      return {
        ptA : {
          x: minX,
          y: m * minX + b
        },
        ptB : {
          x: maxX,
          y: m * maxX + b
        }
  }
}

</script>
{% endblock %}
